<section id="projects">
    <div class="top">
        <div class="title">
            <h3>Projetos</h3>
            <p>
                Pecorra por todos os meus projetos desde o início de minha jornada.
                Passe o cursor sobre os cards para visualizar os detalhes.
            </p>
        </div>
        <button [routerLink]="'/all-projects'">Ver tudo</button>
    </div>
    <div class="projects">
        <div class="projects-container" #container>
            <div class="project-card horizon">
                <div class="project-content">
                    <img src="../../../assets/png/horizon-project.png" class="bg">
                    <div class="content">
                        <div class="languages">
                            <span>HTML</span>
                            <span>CSS</span>
                        </div>
                        <a href="https://github.com/senarthur/Horizon-Game_Landing-Page" target="_blank">
                            <img src="../../../assets/svg/github.svg" alt="ícone git hub">
                            <span>Ver código</span>
                        </a>
                        <div class="title">
                            <h4>Horizon Forbidden West</h4>
                            <span>Landing Page</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-card memory-game">
                <div class="project-content">
                    <img src="../../../assets/png/memory-game-project.png" class="bg">
                    <div class="content">
                        <div class="languages">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </div>
                        <a href="https://github.com/senarthur/Jogo-da-Memoria" target="_blank">
                            <img src="../../../assets/svg/github.svg" alt="ícone git hub">
                            <span>Ver código</span>
                        </a>
                        <div class="title">
                            <h4>Jogo da Memória</h4>
                            <span>Jogo Interativo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-card pokedex">
                <div class="project-content">
                    <img src="../../../assets/png/pokedex-project.png" class="bg">
                    <div class="content">
                        <div class="languages">
                            <span>Ionic</span>
                            <span>Angular</span>
                            <span>TS</span>
                        </div>
                        <a href="https://github.com/senarthur/pokedex-atividade" target="_blank">
                            <img src="../../../assets/svg/github.svg" alt="ícone git hub">
                            <span>Ver código</span>
                        </a>
                        <div class="title">
                            <h4>Pokédex</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-card animals-adoption">
                <div class="project-content">
                    <img src="../../../assets/png/animals-adoption-project.png" class="bg">
                    <div class="content">
                        <div class="languages">
                            <span>Ionic</span>
                            <span>Angular</span>
                            <span>TS</span>
                        </div>
                        <a href="https://github.com/senarthur/lista-tarefa-angular" target="_blank">
                            <img src="../../../assets/svg/github.svg" alt="ícone git hub">
                            <span>Ver código</span>
                        </a>
                        <div class="title">
                            <h4>Adoção de Animais</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>