footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: var(--section-padding);
    color: var(--highlight-secondary);

    padding-top: 50px;
    padding-bottom: 50px;

    .logo {
        h4 {
            font-size: 25px;
            font-weight: 300;
            margin: -5px;
        }

        span {
            font-size: 13px;
        }
    }

    .social-medias {
        display: inline-flex;
        gap: 12px;

        a {        
            display: flex;
            align-items: center;
            justify-content: center;
            
            width: 42px;
            height: 42px;
            padding: 0;

            border: 1px solid var(--highlight-color);
            border-radius: 25px;

            cursor: pointer;
            position: relative;
            z-index: 2;


            &::before {
                content: "";
                width: 42px;
                height: 42px;
                position: absolute;
                background-color: var(--highlight-color);
                border-radius: 42px;
                transform: scale(0);
                transition: .3s ease-in-out;
            }

            &:hover {
                &::before {
                    transform: scale(1);
                    z-index: -1;
                }

                svg path {
                    fill: #000;
                }
            }
        }
    }
}