nav {
    position: fixed;
    width: 100%;
    z-index: 9999;
    
    color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--section-padding);
    padding-top: 15px;
    padding-bottom: 15px;

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        color: var(--highlight-color);
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 25px;

        a {
            display: block;
            color: var(--highlight-color);
            opacity: 0.7;
            
            position: relative;
            
            display: block;
            padding: 5px 10px;

            &::before {
                content: "";
                width: 0;
                height: 2px;

                position: absolute;
                bottom: 0;
                left: 0;
                
                background-color: var(--highlight-color);
                transition: .3s ease-in-out;
            }
            
            &:hover {
                opacity: 1;

                &::before {
                    width: 100%;
                }
            }
        }


        .social-medias {
            display: inline-flex;
            gap: 12px;

            a {        
                display: flex;
                align-items: center;
                justify-content: center;
                
                width: 42px;
                height: 42px;
                padding: 0;

                border: 1px solid var(--highlight-color);
                border-radius: 25px;

                cursor: pointer;


                &::before {
                    content: "";
                    width: 42px;
                    height: 42px;
                    position: absolute;
                    background-color: var(--highlight-color);
                    border-radius: 42px;
                    transform: scale(0);
                    transition: .3s ease-in-out;
                }

                &:hover {
                    &::before {
                        transform: scale(1);
                        z-index: -1;
                    }

                    svg path {
                        fill: #000;
                    }
                }
            }
        }
    }
}