<nav>
    <h1>&lt;/&gt;</h1>
    <div class="nav-links">
        <a href="#">Início</a>
        <a href="#">Habilidades</a>
        <a href="#">Projetos</a>
        <a href="#">Contato</a>
        <div class="social-medias">
            <div class="github">
                <img src="../../../assets/svg/github.svg" alt="Git Hub Logo">
            </div>
            <div class="linkedin">
                <img src="../../../assets/svg/linkedin.svg" alt="LinkedIn Logo">
            </div>
        </div>
    </div>
</nav>