main {
    background-image: url('../../../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#home {
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        margin-top: 10%;

        .title {
            width: fit-content;

            span {
                display: block;
                color: var(--highlight-secondary);
                text-align: right;
                font-weight: 300;
                font-size: clamp(12px, 12px + 2vw, 24px);
            }

            .name {
                color: var(--highlight-color);
                font-size: clamp(30px, 30px + 10vw, 135px);
                margin: -30px 0;
                font-weight: 700;
            }

            p {
                color: var(--highlight-secondary);
                font-weight: 500;
                font-size: 25px;
                font-size: clamp(12px, 12px + 2vw, 24px);
            }
        }

        img {
            width: 100%;
            max-width: 275px;
        }
    }
    
    a {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        opacity: 0.7;

        padding: 5px 20px 5px 0;

        .download-icon {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: 10px;

            width: 30px;
            height: 30px;
            border: 1px solid var(--highlight-color);
            border-radius: 35px;
        }

        &:hover {
            opacity: 1;
        }
    }

    #about-me {
        margin-top: 80px;

        background-color: #1A1D22;
        padding: 40px 60px;
        border-radius: 105px;

        cursor: default;

        h3 {
            color: var(--highlight-color);
            text-align: center;
            font-size: 40px;
            margin-bottom: 40px;
        }

        p {
            color: var(--highlight-secondary);
            margin: 0 auto;
            margin-bottom: 40px;
        }

        .cards {
            display: flex;
            justify-content: space-around;
            gap: 20px;

            .card {
                border: 1px solid var(--highlight-color);
                border-radius: 20px;
                max-width: 400px;
                width: 100%;
                max-width: 350px;
                padding: 30px;
                position: relative;
                z-index: 10;

                .title {
                    text-align: center;
                    color: var(--highlight-color);
                }

                .content {
                    h6 {
                        font-size: clamp(12px, 12px + 1vw, 18px);
                        margin-top: 25px;
                        margin-bottom: -5px;
                        color: var(--highlight-color);
                    }

                    p {
                        margin-bottom: -5px;
                    }

                    span {
                        display: block;
                        font-size: 14px;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    border-radius: 20px;
                    width: 0;
                    background-color: var(--highlight-color);
                    transition: .3s ease-in-out;
                }

                &:hover {
                    &::before {
                       width: 100%;
                    }

                    h3, p, span, .title, .content h6 {
                        color: #1A1D22;
                    }

                    svg path {
                        fill: #1A1D22;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    #home {
        .banner {
            margin-top: 70px;

            .title {
                font-size: 50%;
            }
            
            img {
                width: 200px !important;
            }
        }
    }

    #about-me {

        padding: 30px !important;
        border-radius: 30px !important;

        .cards {
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .card {
                height: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    #home {
        .banner {
            flex-direction: column;
        }
    }
}

@media (max-width: 450px) {
    #home {
        .banner {
            gap: 40px;

            .title {
                .name {
                    margin: -20px 0 !important;
                }
            }
        }
    }
}