<main>
    <app-navbar></app-navbar>

    <section id="home">
        <div class="banner">
            <div class="title">
                <h2>
                    <span>Olá, meu nome é</span>
                    <h3>ARTHUR</h3>
                    <p>Desenvolvedor Front-End</p>
                </h2>
            </div>
            <img src="../../../assets/png/man-working.png" alt="Homem Trabalhando">
        </div>
        <div>
            <a href="../../../assets/documents/arthur-cv.pdf" download>
                Baixar Currículo
                <div class="download-icon">
                    <img src="../../../assets/svg/download-arrow.svg" alt="Ícone de download">
                </div>
            </a>
        </div>

        <article id="about-me">
            <h3>Sobre Mim</h3>
            <p>
                Meu nome é Arthur, tenho 22 anos, acadêmico de Ciência da Computação, atualmente no 6° período, e sou
                apaixonado por tecnologia.
            </p>
            <div class="cards">
                <div class="card">
                    <div class="title">
                        <svg width="50" height="43" viewBox="0 0 50 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_18_5)">
                            <path d="M25.5 12.9V12.4H25H2.05938L25 0.56264L48.9096 12.9L24.9999 25.2374L10.3853 17.7H25H25.5V17.2V12.9ZM8 21.8906L24.7707 30.5443L25 30.6626L25.2293 30.5443L42 21.8906V33.6654L25 42.4374L12.7293 36.1057L8 33.6654V21.8906ZM0.5 33.2315V18.0206L4.5 20.0846V29.4131L0.5 33.2315Z" fill="white" stroke="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_18_5">
                            <rect width="50" height="43" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                        <h5>Educação</h5>
                    </div>
                    <div class="content">
                        <h6>Ciência da Computação</h6>
                        <p>
                            FUMEC
                            <span>2022-2025</span>
                        </p>
                    </div> 
                </div>
                <div class="card">
                    <div class="title">
                        <img src="../../../assets/svg/experience.svg" alt="Ícone experiência">
                        <h5>Experiência</h5>
                    </div>
                    <div class="content">
                        <h6>Desenvolvedor Front-End</h6>
                        <p><span>2+ anos</span></p>
                    </div> 
                </div>
            </div>
        </article>
    </section>

    <section id="skills">
        <h3>Habilidades</h3>
        <div class="skills">
            <div class="languages">
                <div class="skill">
                    <div class="circle">
                        <img src="../../../assets/svg/html.svg" alt="ícone html">
                    </div>
                    <span>HTML</span>
                </div>
                <div class="skill">
                    <div class="circle">
                        <img src="../../../assets/svg/css.svg" alt="ícone css">
                    </div>
                    <span>CSS</span>
                </div>
                <div class="skill">
                    <div class="circle">
                        <img src="../../../assets/svg/js.svg" alt="ícone javascript">
                    </div>
                    <span>JavaScript</span>
                </div>
                <div class="skill">
                    <div class="circle">
                        <img src="../../../assets/svg/ts.svg" alt="ícone typescript">
                    </div>
                    <span>TypeScript</span>
                </div>
                <div class="skill">
                    <div class="circle">
                        <img src="../../../assets/svg/java.svg" alt="ícone java">
                    </div>
                    <span>Java</span>
                </div>
            </div>
            <div class="framework">
                <div class="skill">
                    <div class="circle">
                        <img src="../../../assets/svg/angular.svg" alt="ícone angular">
                    </div>
                    <span>Angular</span>
                </div>
                <div class="skill">
                    <div class="circle">
                        <img src="../../../assets/svg/ionic.svg" alt="ícone ionic">
                    </div>
                    <span>Ionic</span>
                </div>
                <div class="skill">
                    <div class="circle">
                        <img src="../../../assets/svg/react.svg" alt="ícone react">
                    </div>
                    <span>React</span>
                </div>
            </div>
        </div>
    </section>

    <section id="projects">
        <h3>Projetos</h3>
        <div class="projects">
            <div class="project-card">
                <div class="project-content">
                    <img src="../../../assets/png/horizon-project.png" class="bg">
                    <div class="content">
                        <div class="languages">
                            <span>HTML</span>
                            <span>CSS</span>
                        </div>
                        <a href="#">
                            <img src="../../../assets/svg/github.svg" alt="ícone git hub">
                            <span>Ver código</span>
                        </a>
                        <div class="title">
                            <h4>Horizon Forbidden West</h4>
                            <span>Landing Page</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-card">
                <div class="project-content">
                    <img src="../../../assets/png/adidas-project.png" class="bg">
                    <div class="content">
                        <div class="languages">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </div>
                        <a href="#">
                            <img src="../../../assets/svg/github.svg" alt="ícone git hub">
                            <span>Ver código</span>
                        </a>
                        <div class="title">
                            <h4>Adidas</h4>
                            <span>Landing Page</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-card">
                <div class="project-content">
                    <img src="../../../assets/png/task-project.png" class="bg">
                    <div class="content">
                        <div class="languages">
                            <span>Angular</span>
                        </div>
                        <a href="#">
                            <img src="../../../assets/svg/github.svg" alt="ícone git hub">
                            <span>Ver código</span>
                        </a>
                        <div class="title">
                            <h4>Lista de Tarefas</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-card">
                <div class="project-content">
                    <img src="../../../assets/png/pokedex-project.png" class="bg">
                    <div class="content">
                        <div class="languages">
                            <span>Ionic</span>
                        </div>
                        <a href="#">
                            <img src="../../../assets/svg/github.svg" alt="ícone git hub">
                            <span>Ver código</span>
                        </a>
                        <div class="title">
                            <h4>Pokédex</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrow">
                <svg width="17" height="26" viewBox="0 0 17 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 2L14.8196 12.8473C14.914 12.9272 14.914 13.0728 14.8196 13.1527L2 24" stroke="white" stroke-width="3" stroke-linecap="round"/>
                </svg>
            </div>
        </div>
    </section>
</main>