<main>
    <app-navbar></app-navbar>

    <section id="home">
        <div class="banner">
            <div class="title">
                <h2>
                    <span>Olá, meu nome é</span>
                    <h3>ARTHUR</h3>
                    <p>Desenvolvedor Front-End</p>
                </h2>
            </div>
            <img src="../../../assets/png/man-working.png" alt="Homem Trabalhando">
        </div>
        <div>
            <a href="../../../assets/documents/arthur-cv.pdf" download>
                Baixar Currículo
                <div class="download-icon">
                    <img src="../../../assets/svg/download-arrow.svg" alt="Ícone de download">
                </div>
            </a>
        </div>

        <article id="about-me">
            <h3>Sobre Mim</h3>
            <p>
                Meu nome é Arthur, tenho 22 anos, acadêmico de Ciência da Computação, atualmente no 6° período, e sou
                apaixonado por tecnologia.
            </p>
            <div class="cards">
                <div class="card">
                    <div class="title">
                        <img src="../../../assets/svg/education.svg" alt="Ícone educação">
                        <h5>Educação</h5>
                    </div>
                    <div class="content">
                        <h6>Ciência da Computação</h6>
                        <p>
                            FUMEC
                            <span>2022-2025</span>
                        </p>
                    </div> 
                </div>
                <div class="card">
                    <div class="title">
                        <img src="../../../assets/svg/experience.svg" alt="Ícone experiência">
                        <h5>Experiência</h5>
                    </div>
                    <div class="content">
                        <h6>Desenvolvedor Front-End</h6>
                        <p><span>2+ anos</span></p>
                    </div> 
                </div>
            </div>
        </article>
    </section>

</main>