main {
    background-image: url('../../../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    padding: var(--section-padding);
}

p {
    font-size: clamp(12px, 12px + 1vw, 24px);
}

/* HOME SECTION */

#home {
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        margin-top: 10%;

        .title {
            width: fit-content;

            span {
                display: block;
                color: var(--highlight-secondary);
                text-align: right;
                font-weight: 300;
                font-size: clamp(12px, 12px + 2vw, 24px);
            }

            .name {
                color: var(--highlight-color);
                font-size: clamp(30px, 30px + 10vw, 135px);
                margin: -30px 0;
                font-weight: 700;
            }

            p {
                color: var(--highlight-secondary);
                font-weight: 500;
                font-size: 25px;
                font-size: clamp(12px, 12px + 2vw, 24px);
            }
        }

        img {
            width: 100%;
            max-width: 275px;
        }
    }
    
    a {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        opacity: 0.7;

        padding: 5px 20px 5px 0;

        .download-icon {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: 10px;

            width: 30px;
            height: 30px;
            border: 1px solid var(--highlight-color);
            border-radius: 35px;
        }

        &:hover {
            opacity: 1;
        }
    }

    #about-me {
        margin-top: 80px;

        background-color: #1A1D22;
        padding: 40px 60px;
        border-radius: 105px;

        cursor: default;

        h3 {
            color: var(--highlight-color);
            text-align: center;
            font-size: 40px;
            margin-bottom: 40px;
        }

        p {
            color: var(--highlight-secondary);
            margin: 0 auto;
            margin-bottom: 40px;
        }

        .cards {
            display: flex;
            justify-content: space-around;
            gap: 20px;

            .card {
                border: 1px solid var(--highlight-color);
                border-radius: 20px;
                max-width: 400px;
                width: 100%;
                max-width: 350px;
                padding: 30px;
                position: relative;
                z-index: 10;

                .title {
                    text-align: center;
                    color: var(--highlight-color);
                }

                .content {
                    h6 {
                        font-size: clamp(12px, 12px + 1vw, 18px);
                        margin-top: 25px;
                        margin-bottom: -5px;
                        color: var(--highlight-color);
                    }

                    p {
                        margin-bottom: -5px;
                    }

                    span {
                        display: block;
                        font-size: 14px;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    border-radius: 20px;
                    width: 0;
                    background-color: var(--highlight-color);
                    transition: .3s ease-in-out;
                }

                &:hover {
                    &::before {
                       width: 100%;
                    }

                    h3, p, span, .title, .content h6 {
                        color: #1A1D22;
                    }

                    svg path {
                        fill: #1A1D22;
                    }
                }
            }
        }
    }
}

/* SKILLS SECTION */
#skills {
    background-color: #1e1e1e;
    min-height: 50dvh;

    h3 {
        font-size: 40px;
        text-align: center;
        color: var(--highlight-color);
    }

    .skills {
        margin-top: 90px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 90px;
        
        .languages, .framework {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;

            .skill {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100px;
                cursor: default;

                .circle {
                    width: 52px;
                    height: 52px;
                    border-radius: 52px;
    
                    border: 1px solid var(--highlight-color);
                    padding: 10px;
                    text-align: center;
    
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    position: relative;
                    z-index: 2;
    
                    &::before {
                        content: "";
                        width: 52px;
                        height: 52px;
                        position: absolute;
                        background-color: var(--highlight-color);
                        border-radius: 52px;
                        transform: scale(0);
                        transition: .3s ease-in-out;
                    }
    
                    &:hover {
                        &::before {
                            transform: scale(1);
                            z-index: -1;
                        }
    
                        svg path {
                            fill: #000;
                        }

                        .java path {
                            fill: none;
                            stroke: #000;
                        }
                    }
                }
            }

            

            span {
                display: block;
                color: var(--highlight-color);
                text-align: center;
            }
        }
    }
}

/* PROJECTS SECTION */
#projects {

    .top {

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
        
        h3 {
            font-size: 40px;
            color: var(--highlight-color);
        }

        p {
            color: var(--highlight-secondary);
            font-size: 16px;
            max-width: 520px;
            line-height: 2rem;
        }

        button {
            display: block;
            margin-right: 0;
            margin-left: auto;
            margin-bottom: 10px;

            background: none;
            padding: 5px 15px;
            border-radius: 30px;

            outline: none;
            border: 1px solid var(--highlight-color);
            color: var(--highlight-color);

            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }

    .projects {
        .projects-container {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(4, 1fr);
            row-gap: 30px;
            column-gap: 30px;
            transition: 1.5s ease;
        }

        .horizon {
            grid-column: 4/7;
        }

        .memory-game {
            grid-column: 1/4;
            grid-row: 2/4;
        }

        .pokedex {
            grid-column: 4/7;
            grid-row: 3/5;
        }

        .animals-adoption {
            grid-column: 1/4;
            grid-row: 4/6;
        }

        .project-card {
            width: 100%;
            max-width: 580px;
            aspect-ratio: 29/30;
            display: inline-block;
            position: relative;

            .project-content {
                .bg {
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                    border-radius: 20px;
                }

                .content {
                    position: absolute;
                    z-index: 2;
                    display: none;
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    background-color: rgba(0, 0, 0, 0.9);
                    border-radius: 20px;
                    
                    .languages {
                        span {
                            display: inline-block;
                            margin-right: 5px;
                            padding: 1px 15px;
                            border: 1px solid var(--highlight-color);
                            border-radius: 15px;
                            color: var(--highlight-color);
                            font-size: 14px;
                        }
                    }
    
                    a {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
    
                        img {
                            border: 1px solid var(--highlight-color);
                            padding: 2px;
                            border-radius: 50px;
                        }
                    }
    
                    .title {
                        position: absolute;
                        bottom: 50px;
                        color: var(--highlight-color);
    
                        h4 {
                            font-size: 18px;
                        }
    
                        span {
                            font-size: 14px;
                        }
                    }
                }

                &:hover {
                    .content {
                        display: block;
                    }
                }
            }
        }
    }
}

/* CONTACT SECTION */
#contact {
    display: flex;
    
    background: linear-gradient(to right, #282032 27%, #282032 100%);

    .left-side {
        width: 50%;

        img {
            width: 100%;
            max-width: 450px;
        }
        
        h3 {
            font-size: 40px;
            color: var(--highlight-color);
            margin-bottom: 60px;
        }

        .social {
            display: block;
            margin: 0 auto;
        }

        .send-email {
            margin-top: 50px;
            display: flex;
            align-items: center;
            gap: 5px;
            
            .email {
                width: 40px;
                height: 40px;
                padding: 5px;

                display: flex;
                justify-content: center;
                align-items: center;

                border: 1px solid var(--highlight-secondary);
                border-radius: 40px;

                position: relative;
                z-index: 2;

                &::before {
                    content: "";
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    background-color: var(--highlight-color);
                    border-radius: 52px;
                    transform: scale(0);
                    transition: .3s ease-in-out;
                }
            }

            span {
                font-size: 18px;
                color: var(--highlight-color);
                opacity: 0.7;
            }

            &:hover {
                .email::before {
                    transform: scale(1);
                    z-index: -1;
                }

                svg path {
                    fill: #000;
                }

                span {
                    opacity: 1;
                }
            }
        }
    }

    .right-side {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        form {
            margin-top: 40px;
            width: 100%;
                
            input {
                background: none;
                outline: none;
                border: 2px solid var(--highlight-secondary);
                border-radius: 10px;
                width: 100%;
                padding: 20px;
                color: var(--highlight-color);
                margin-bottom: 10px;

                &:hover {
                    border-color: var(--highlight-color);
                }
            }

            .flex {
                display: flex;
                gap: 5px;
            }

            input::placeholder {
                font-size: 16px;
                color: var(--highlight-secondary);
            }

            label {
                color: var(--highlight-secondary);
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
            }

            textarea {
                width: 100%;
                height: 240px;
                padding: 20px;

                background: none;
                border-radius: 20px;
                border: 2px solid var(--highlight-secondary);

                color: var(--highlight-color);

                &:hover {
                    border-color: var(--highlight-color);
                }
            }

            textarea::placeholder {
                color: var(--highlight-secondary);
                font-size: 16px;
            }

            button[type="submit"] {
                outline: none;
                border: none;

                padding: 20px;
                width: 150px;
                height: 70px;
                background-color: var(--highlight-secondary);
                color: #1A1D22;
                border-radius: 20px;
                font-size: 18px;
                font-weight: 700;

                cursor: pointer;

                &:hover {
                    background-color: var(--highlight-color);
                }

                svg {
                    width: 30px;
                    animation: rotate 1s linear infinite;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    #home {
        .banner {
            margin-top: 70px;

            .title {
                font-size: 50%;
            }
            
            img {
                width: 200px !important;
            }
        }
    }

    #about-me {

        padding: 30px !important;
        border-radius: 30px !important;

        .cards {
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .card {
                height: 100%;
            }
        }
    }

    #projects {

        .top {
            flex-direction: column;
            gap: 20px;
        }
    }

    #contact {
        flex-direction: column;
        
        .left-side, .right-side {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    #home {
        .banner {
            flex-direction: column;
        }
    }

    #projects {
        .projects-container {
            .horizon, .memory-game, .pokedex, .animals-adoption {
                grid-column: 1/7;
                width: 100%;
            }
        }
    }
}

@media (max-width: 450px) {
    #home {
        .banner {
            gap: 40px;

            .title {
                .name {
                    margin: -20px 0 !important;
                }
            }
        }
    }

    #contact span {
        font-size: 14px !important;
    }

    #contact .flex {
        flex-direction: column;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}