main {
    background-image: url('../../../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    padding: var(--section-padding);
}

/* HOME SECTION */

#home {
    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10%;

        .title {
            width: fit-content;

            span {
                display: block;
                color: var(--highlight-secondary);
                text-align: right;
                font-weight: 300;
            }

            h3 {
                color: var(--highlight-color);
                font-size: 130px;
                margin: -30px 0;
            }

            p {
                color: var(--highlight-secondary);
                font-weight: 500;
                font-size: 25px;
            }
        }
    }
    
    a {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        .download-icon {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: 5px;

            width: 35px;
            height: 35px;
            border: 1px solid var(--highlight-color);
            border-radius: 35px;
        }
    }

    #about-me {
        margin-top: 80px;

        background-color: #1A1D22;
        padding: 40px 60px;
        border-radius: 105px;

        h3 {
            color: var(--highlight-color);
            text-align: center;
            font-size: 40px;
            margin-bottom: 40px;
        }

        p {
            color: var(--highlight-secondary);
            margin: 0 auto;
            font-size: 20px;
            margin-bottom: 40px;
        }

        .cards {
            display: flex;
            justify-content: space-around;

            .card {
                border: 1px solid var(--highlight-color);
                border-radius: 20px;
                max-width: 400px;
                width: 350px;
                padding: 30px;

                .title {
                    text-align: center;
                    color: var(--highlight-color);
                }

                .content {
                    h6 {
                        font-size: 18px;
                        margin-top: 25px;
                        margin-bottom: -5px;
                        color: var(--highlight-color);
                    }

                    p {
                        margin-bottom: -5px;
                    }

                    span {
                        display: block;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

/* SKILLS SECTION */
#skills {
    background-color: #1e1e1e;
    min-height: 50dvh;

    h3 {
        font-size: 40px;
        text-align: center;
        color: var(--highlight-color);
    }

    .skills {
        margin-top: 90px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 90px;
        
        .languages, .framework {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .skill {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100px;
                cursor: pointer;
            }

            .circle {
                width: 52px;
                height: 52px;
                border-radius: 52px;

                border: 1px solid var(--highlight-color);
                padding: 10px;
                text-align: center;

                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 30px;
                }
            }

            span {
                display: block;
                color: var(--highlight-color);
                text-align: center;
            }
        }
    }
}

