/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --highlight-color: #FFF;
    --highlight-secondary: #C8C8C8;
    
    --section-padding: 30px 15%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

html {
    scroll-padding-top: 50px;
}

a {
    text-decoration: none;
    color: var(--highlight-color);
}

section {
    padding: var(--section-padding);
}

p {
    font-size: clamp(12px, 12px + 1vw, 24px);
}